// Section: Block Content
section
  // Grid row
  .row
    // Grid column
    .col-md-4.mb-4
      // Card
      div
        .view.zoom.overlay.z-depth-2.rounded
          img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg' alt='Sample')
          a(href='#!')
            .mask
              img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg')
              .mask.rgba-black-slight
        .text-center.pt-4
          h5 Fantasy T-shirt
          p.mb-2.text-muted.text-uppercase.small Shirts
          ul.rating
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
          hr
          h6.mb-3 12.99 $
          button.btn.btn-primary.btn-sm.mr-1.mb-2(type='button')
            i.fas.fa-shopping-cart.pr-2
            | Add to cart
          button.btn.btn-light.btn-sm.mr-1.mb-2(type='button')
            i.fas.fa-info-circle.pr-2
            | Details
          button.btn.btn-danger.btn-sm.px-3.mb-2.material-tooltip-main(type='button' data-toggle='tooltip' data-placement='top' title='Add to wishlist')
            i.far.fa-heart
      // Card
    // Grid column
    // Grid column
    .col-md-4.mb-4
      // Card
      div
        .view.zoom.overlay.z-depth-2.rounded
          img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg' alt='Sample')
          h4.mb-0
            span.badge.badge-dark.badge-pill.badge-news Sold out
          a(href='#!')
            .mask
              img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13.jpg')
              .mask.rgba-black-slight
        .text-center.pt-4
          h5 Fantasy T-shirt
          p.mb-2.text-muted.text-uppercase.small Shirts
          ul.rating
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.far.fa-star.fa-sm.text-primary
          hr
          h6.mb-3 12.99 $
          button.btn.btn-light.btn-sm.mr-1.mb-2(type='button')
            i.fas.fa-info-circle.pr-2
            | Details
          button.btn.btn-danger.btn-sm.px-3.mb-2.material-tooltip-main(type='button' data-toggle='tooltip' data-placement='top' title='Add to wishlist')
            i.far.fa-heart
      // Card
    // Grid column
    // Grid column
    .col-md-4.mb-4
      // Card
      div
        .view.zoom.overlay.z-depth-2.rounded
          img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg' alt='Sample')
          h4.mb-0
            span.badge.badge-primary.badge-pill.badge-news Sale
          a(href='#!')
            .mask
              img.img-fluid.w-100(src='https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14.jpg')
              .mask.rgba-black-slight
        .text-center.pt-4
          h5 Fantasy T-shirt
          p.mb-2.text-muted.text-uppercase.small Shirts
          ul.rating
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
            li
              i.fas.fa-star.fa-sm.text-primary
          hr
          h6.mb-3
            span.text-danger.mr-1 $12.99
            span.text-grey
              s $36.99
          button.btn.btn-primary.btn-sm.mr-1.mb-2(type='button')
            i.fas.fa-shopping-cart.pr-2
            | Add to cart
          button.btn.btn-light.btn-sm.mr-1.mb-2(type='button')
            i.fas.fa-info-circle.pr-2
            | Details
          button.btn.btn-danger.btn-sm.px-3.mb-2.material-tooltip-main(type='button' data-toggle='tooltip' data-placement='top' title='Add to wishlist')
            i.far.fa-heart
      // Card
    // Grid column
  // Grid row
// Section: Block Content
