<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body style="background: var(--white);">
    <h1 class="text-center text-white d-none d-lg-block site-heading"><span class="text-primary site-heading-upper mb-3">E-Cart&nbsp;<i class="fa fa-shopping-cart"></i></span></h1>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-lg-4" id="mainNav" style="background: rgb(52, 58, 64);border-color: rgb(33, 37, 41);">
        <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">E-cart&nbsp;&nbsp;<i class="fa fa-star"></i>&nbsp;</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">shop</a></li>
                    <li class="nav-item"><a class="nav-link" href="products.html" style="border-color: rgba(255, 255, 255, 0.7);color: rgba(255, 255, 255, 0.7);">cart</a></li>
                    <li class="nav-item"><input type="search" id="search-field-1" class="search-field" name="search" style="filter: blur(0px);color: rgba(11,37,65,0.85);border-radius: 17px;border: 4px solid rgb(215,220,224) ;"><i class="fa fa-search" style="color: rgba(255,255,255,0.7);margin: 8px;"></i><i class="fa fa-user" style="color: rgba(255,255,255,0.7);margin: 8px;"></i></li>
                    <li class="nav-item"><a class="nav-link" href="products.html">sign-up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="assets/img/michal-kubalczyk-WecngmAT-KY-unsplash.jpg">
                <div class="text-center intro-text p-5 rounded bg-faded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">&nbsp;Hello world !!</span><span class="section-heading-lower">Worth Your money deals</span></h2>
                    <p class="mb-3"><br>We are an E-commerce Platform creating a difference in selling Electronics<br><br></p>
                    <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="#" style="background: rgb(33,37,41);">Join Us Today!</a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta" style="background: transparent;">
        <div class="container" style="background: rgba(255,255,255,0.7);">
            <div class="intro"><h2 class="text-center">&nbsp</h2>
                <h2 class="text-center">HP series</h2>
                <p class="text-center"><br>The&nbsp;<strong>Hewlett-Packard</strong>&nbsp;Company<br><br></p>
            </div>
            <div class="row projects">
                <div class="col-sm-6 col-lg-4 item" style="padding: 0px;height: 491px;">
                    <div class="card" style="height: 449px;width: 319px;padding: 20px;margin: 1px;background: transparent;border-width: 0px;">
                        <div class="card-body" style="height: 366px;"><img class="img-thumbnail img-fluid" src="assets/img/Screenshot_17.png" style="padding: 23;margin: 23;height: 200;width: 300;">
                            <h4 class="card-title" style="padding: 8px;width: 249px;">HP Pavilion Gaming Laptop<br></h4>
                            <div class="progress border rounded-0" style="width: 116px;height: 13px;padding: 0px;">
                                <div class="progress-bar bg-dark" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75%</span></div>
                            </div>
                            <h6 class="text-muted card-subtitle mb-2"></h6>
                            <ul style="height: 96px;font-weight: normal;font-size: 14px;padding: 9px;margin: 12px;">
                                <li>AMD Ryzen 5 processor</li>
                                <li>Windows 10</li>
                                <li>NVIDIA</li>
                                <li>16 gb RAM</li>
                            </ul>
                            <h1 class="name" style="font-size: 23px;"><i class="fa fa-dollar" style="font-size: 24px;color: var(--dark);"></i> <strong>550.65</strong></h1><a class="card-link" href="#"><i class="fa fa-star" style="font-size: 24px;color: var(--dark);"></i></a><a class="card-link" href="#"><i class="fa fa-shopping-cart" style="font-size: 24px;color: var(--dark);"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 item" style="padding: 0px;height: 491px;">
                    <div class="card" style="height: 449px;width: 319px;padding: 20px;margin: 1px;background: transparent;border-width: 0px;">
                        <div class="card-body" style="height: 366px;"><img class="img-thumbnail img-fluid" src="assets/img/Screenshot_17.png" style="padding: 23;margin: 23;height: 200;width: 300;">
                            <h4 class="card-title" style="padding: 8px;width: 249px;">HP Pavilion Gaming Laptop<br></h4>
                            <div class="progress border rounded-0" style="width: 116px;height: 13px;padding: 0px;">
                                <div class="progress-bar bg-dark" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75%</span></div>
                            </div>
                            <h6 class="text-muted card-subtitle mb-2"></h6>
                            <ul style="height: 96px;font-weight: normal;font-size: 14px;padding: 9px;margin: 12px;">
                                <li>AMD Ryzen 5 processor</li>
                                <li>Windows 10</li>
                                <li>NVIDIA</li>
                                <li>16 gb RAM</li>
                            </ul>
                            <h1 class="name" style="font-size: 23px;"><i class="fa fa-dollar" style="font-size: 24px;color: var(--dark);"></i> <strong>550.65</strong></h1><a class="card-link" href="#"><i class="fa fa-star" style="font-size: 24px;color: var(--dark);"></i></a><a class="card-link" href="#"><i class="fa fa-shopping-cart" style="font-size: 24px;color: var(--dark);"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 item" style="padding: 0px;height: 491px;">
                    <div class="card" style="height: 449px;width: 319px;padding: 20px;margin: 1px;background: transparent;border-width: 0px;">
                        <div class="card-body" style="height: 366px;"><img class="img-thumbnail img-fluid" src="assets/img/Screenshot_17.png" style="padding: 23;margin: 23;height: 200;width: 300;">
                            <h4 class="card-title" style="padding: 8px;width: 249px;">HP Pavilion Gaming Laptop<br></h4>
                            <div class="progress border rounded-0" style="width: 116px;height: 13px;padding: 0px;">
                                <div class="progress-bar bg-dark" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"><span class="sr-only">75%</span></div>
                            </div>
                            <h6 class="text-muted card-subtitle mb-2"></h6>
                            <ul style="height: 96px;font-weight: normal;font-size: 14px;padding: 9px;margin: 12px;">
                                <li>AMD Ryzen 5 processor</li>
                                <li>Windows 10</li>
                                <li>NVIDIA</li>
                                <li>16 gb RAM</li>
                            </ul>
                            <h1 class="name" style="font-size: 23px;"><i class="fa fa-dollar" style="font-size: 24px;color: var(--dark);"></i> <strong>550.65</strong></h1><a class="card-link" href="#"><i class="fa fa-star" style="font-size: 24px;color: var(--dark);"></i></a><a class="card-link" href="#"><i class="fa fa-shopping-cart" style="font-size: 24px;color: var(--dark);"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="text-center footer text-faded py-5" style="background: rgb(52,58,64);">
        <div class="container">
            <p class="m-0 small">Himanshu, Utkarsh, Riya</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>